* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#contenedor-carrousel {
    width: 100%;
    height: 100vh;
    background-color: #CFF5E7;
    display: grid;
    place-content: center;
}



.sliders-contenedor {
    width: 85vh;
    height: 50vh;
    position: relative;
    background-color: #A0E4CB;
    border: 3px solid #59C1BD;
    border-radius: 10px;
    box-shadow: -2px 2px 10px #59C1BD;

    /* esconder */
    overflow: hidden;
}


.slider {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    place-items: center;
    transition: all 0.5s ease-in-out;
    font-size: 50px;
}


.contenedor-button {
    width: 100%;
    display: flex;
    justify-content: center;
    
}   

.btn-prev{
    margin: 10px;
    letter-spacing: 2px;
}

.btn-next {
    margin: 10px;
    letter-spacing: 2px;
}

/* js */
/* .slider:nth-child(1) {
    left: 0%
}

.slider:nth-child(2) {
    left: 100%
}

.slider:nth-child(3) {
    left: 200%
}

.slider:nth-child(4) {
    left: 300%
}

.slider {
    transform: translateX(0%);
} */ 