* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: teal;
}

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.botones_contenedor{
  display: flex;
}

.contenedor h1 {
    font-size: 50px;
    padding: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
}

#valor {
    font-size: 50px;
    padding: 25px;
}

.btn {
    font-size: 20px;
    border: 2px solid black;
    padding: 15px;
    margin: 10px;
    text-transform: uppercase;
    border-radius: 10px;
}