* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
  
  #button {
    margin: 20px auto;
    display: block;
    color: black;
    border: 2px solid black;
    padding: 13px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
     background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
  .contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-bottom: 25px;
  }
  
  .div_caja {
    width: 500px;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 30px;
    display: grid;
    place-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px gray; 
  };
  