*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2018/01/30/22/50/forest-3119826_960_720.jpg);
      background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat;
  }


.contenedor-reloj {
    width: 20%;
    margin: 200px auto;
    display: grid;
    place-content: center;
}

.contenedor-reloj .reloj-fecha {
    font-size: 40px;
}

.contenedor-reloj::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    box-shadow: 10px 10px 15px rgb(0, 0, 0), -20px -10px 150px rgb(0, 0, 0);
    z-index: -10;
    border-radius: 15px;
}


    .reloj-fecha {
        margin-top: 70px;
        display: flex;
        font-size: 25px;
        color: rgba(255, 255, 255, 0.89);
    }

    .contenedor-hora {
        padding-left: 180px;
        margin-top: 70px;
        display: flex;
        font-size: 25px;
        color: rgb(255, 255, 255);
    }