* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #c8ffd48c;
    width: 100%;
    height: 100vh;
}

.contenedor {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
}

.section-contenedor {
    margin-top: 50px;
 }

h2 {
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    font-family: serif;
}


.formulario {
    text-align: center;
    margin: 40px;
    font-size: 1.5em;
}

#numberLabel {
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.30);
    border-radius: 5px;
    margin: 20px;
}


.btn {
    padding: 9px;
    border: none;
    font-size: 18px;
   background-color: white;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.20);
   border-radius: 5px;
}

.Lorem-Ipsum_Texto {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 22px;
}
