* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cdf0ea49;
}
h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
    letter-spacing: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 25px;
    color: #874C62;
}

.botones-menu {
    text-align: center;
    margin: 50px;
}

.button {
    padding: 10px;
    margin-left: 23px;
    border: 3px solid #A7D2CB;
    border-radius: 8px;
    color: black;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    box-shadow: 2px 2px 10px #a7d2cbab;
    text-transform: uppercase;
    background-color: #a7d2cb81;
    
}

.article-contenedor {
    margin: 50px auto;
    width: 90%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
}

.article-menu {
    display: flex;
    padding-top: 30px;

}

.parrafo {
    width: 60%;
}

h4 {
    color: #874C62;
    padding-bottom: 15px;
    font-size: 25px;
}

h5 {
    padding-bottom: 10px;
    font-size: 1em;
}

.img {
    max-width: 300px;
    padding-right: 25px;
    
}



