* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.video-contenedor {
    width: 100%;
    height: 100%;
    position: relative;
}
.video-contenedor::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(32, 26, 26, 0.425);
}

.video {
    width: 100%;
    height: 100%;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 10rem;
    color: white;
    z-index: 10;
}


.button {
    position: absolute;
    top: 85%;
    left: 5%;
    z-index: 10;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
}

.pause {
    padding-left: 20px;
}
.interruptor {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: blueviolet;
    border-radius: 5px;
    transition: all 0.7s ease-in;
}

/* clase left agregada en js */
.left .interruptor {
    left: 50%;
    transition: all 0.7s ease-in;
}

.preloader {
    position: fixed;
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    visibility: visible;
    z-index: 100;
}

.preloader::before {
    position: fixed;
    width: 100%;
    height: 100%;
    content: "";
    background-color: white;
    z-index: -99;
} 

/* agregado en js load  */
.preloader-ocultar {
    visibility: hidden;
    z-index: -100;
}