* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-section {
    width: 100%;
    background-color: #4eb8d33b;
    
}

h1 {
    font-size: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    padding-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    font-style: italic;
}

.nombre {
    padding: 20px;
    font-size: 28px;
}

.profesion {
    font-size: 25px;
    padding-bottom: 25px;
    color: #4EB9D3;
    font-weight: 700;
}

.parrafo-contenido {
    font-size: 20px;
    padding: 25px;
    text-align: justify;
}
.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 25px;
}



.contenedor-article {
    width: 50%;
    background-color: white;
    border: 4px solid #4EB9D3;
    text-align: center;
    margin:  auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.521);
}


#btn-next-div {
    position: relative;
    padding: 25px;
}

#button-next {
    position: absolute;
    top: 70%;
    left: 55%;
    background-color: white;
    border: none;
}

#btn-prev-div {
 position: relative;
 padding: 25px;
}

#button-prev {
    position: absolute;
    top: -28%;
    left: 39%;
    background-color: white;
    border: none;
}

.btn-random {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #4EB9D3;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.521);
    border-radius: 10px;
    color: black;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
}