* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #d2daffa4;
}
.section-principal {
    width: 100%;
    height: 100%;
    background-color: #d2daffa4;
    
} 

.section-principal h1 {
text-align: center;
padding-top: 30px;
padding-bottom: 30px;
font-size: 40px;
letter-spacing: 2px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.parr-principal {
text-align: center;
padding-bottom: 40px;
font-size: 18px;
font-weight: 700;
}

.contenedor-cajas {
    width: 40%;
    margin: 30px auto;
    border-radius: 5px;
    display: grid;
    place-content: center;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.404), -2px 2px 10px rgba(128, 128, 128, 0.288)
}

.contenedor-imagen {
    margin: 0 auto;
}

.img {
    margin-top: 25px;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.445);
}

.contenedor-principal {
text-align: center;
margin-bottom: 50px;
}

.button-contenedor {
    margin: 25px;
}

.btn-pestañas {
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    background-color: white;
    border-radius: 5px;
}

.parrafo {
    font-size: 19px;
    padding: 20px;
    text-align: justify;
}

h3 {
    margin: 30px;
    font-size: 25px;
    color: #6F38C5;
}

/* clase de los textos ocultos*/
.textos {
    display: none;
}


/* primer boton mostrarOcultar - js */
.btn-pestañas.mostrarOcultar {
    background-color: #b1b2ffd2;
}

/* primer texto contiene mostrarOcultar - está visible y se modifica mostrarOcultar en js */
.textos.mostrarOcultar {
    display: block;
}


