*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E1FFEE;
}

.contenedor-sidebar {
    background-color: #FFEEAF;
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* se traslada 100% a la izquierda */
    transform: translate(-100%);
}

h2 {
    font-size: 35px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}
.ul-listas {
    font-size: 35px;
    width: 100%;
    padding-top: 25px;
}

.listas {
    padding-top: 45px;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 


/* if o toggle js  */
.mostrarOcultar-menu {
    transform: translate(0);
    transition: all 1s ease-in-out;
}

/* js boton de escape activa transicion del contenedor */
.transition {
    transition: all 1s ease-in-out;
}



.btn-activador {
    position:absolute;
    background-color: #E1FFEE;;
    top: 10px;
    left: 93%;
    border: none;
}

.img-activador {
    width: 50px;
    height: 50px;
}

.btn-escape{
    background-color: #FFEEAF;
    position: absolute;
    border: none;
    top: 10px;
    left: 90%;
}
.img-escape {
    width: 40px;
    height: 40px;
}

/* mediaqueries superando 676px el menu toma  todo el ancho y alto de la ventana*/
@media (max-width: 676px) {
    .contenedor-sidebar {
        width: 100%;
        height: 100%;
    }
}